---
import Layout from "../../layouts/Layout.astro";
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <div class="container mx-auto p-8">
        <h1 class="text-2xl font-bold mb-4">Expert Bathroom Tiling Dublin</h1>
        <h2 class="text-3xl font-bold mb-4">Transform Your Bathroom with Expert Tiling in Dublin</h2>
        <p class="text-lg mb-8">Are you searching for top-notch contractors to elevate your bathroom's appeal? Look no further! Our skilled team specializes in Bathroom Tiling Services and is ready to bring your vision to life. Serving Dublin and the surrounding County area, we are dedicated to delivering professional installation of various tile types, including ceramic, porcelain, marble, and granite.</p>
        <p class="text-lg mb-8">At Expert Bathroom Tiling Dublin, we understand that every detail matters when it comes to enhancing the interior decor of your space. That's why we prioritize meticulous attention to detail throughout the entire tiling process. Our commitment lies in providing bathroom tiling services that are not only functional and long-lasting but also visually stunning.</p>
        <p class="text-lg mb-8">What sets us apart is our comprehensive approach to bathroom tiling and design. We don't just install tiles; we offer a range of services that go beyond your expectations. Our team of industry professionals and experienced craftsmen will guide you through the tile selection process, ensuring your choices are compatible and aligned with your preferences. You'll never feel uncertain or overwhelmed with our expert advice.</p>
        <p class="text-lg mb-8">Remodeling your bathroom? Trust us to handle it seamlessly. We skillfully remove existing tiles and replace them with your chosen ones, employing precise techniques and thorough surface preparation. From your shower to your bathtub, floors to backsplash, we have the ideal tiling solutions that will transform your bathroom into a masterpiece.</p>
        <p class="text-lg">Dublin Tiling Service is here to exceed your expectations with exceptional efficiency and precision. Get in touch with our skilled team today and let us bring your dream bathroom to life.</p>
        <div class="w-1/2 mx-auto my-10">
          <div class="text-2xl font-bold mb-4">Contact form</div>
        <form action='#' method='POST'>
          <div class='mb-4'>
            <label for='name' class='block text-gray-white text-sm font-bold mb-2'
              >Name:</label
            >
            <input
              type='text'
              id='name'
              name='name'
              placeholder='Your Name'
              class='w-full px-3 py-2 placeholder-gray-300 border border-gray-700 rounded-md focus:outline-none focus:ring focus:ring-[#B86300] focus:border-[#B86300] text-black'
            />
          </div>
          <div class='mb-4'>
            <label
              for='email'
              class='block text-gray-white text-sm font-bold mb-2'>Email:</label
            >
            <input
              type='email'
              id='email'
              name='email'
              placeholder='Your Email'
              class='w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-[#B86300] focus:border-[#B86300] text-black''
            />
          </div>
          <div class='mb-4'>
            <label
              for='phone'
              class='block text-gray-white text-sm font-bold mb-2'>Phone:</label
            >
            <input
              type='text'
              id='phone'
              name='phone'
              placeholder='Your Phone Number'
              class='w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-[#B86300] focus:border-[#B86300] text-black''
            />
          </div>
          <div class='mb-4'>
            <label
              for='message'
              class='block text-gray-white text-sm font-bold mb-2'>Message:</label
            >
            <textarea
              id='message'
              name='message'
              placeholder='Your Message'
              class='w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-[#B86300] focus:border-[#B86300] text-black''
            ></textarea>
          </div>
          <div class='flex justify-end'>
            <button
              type='submit'
              class='bg-[#B86300] hover:underline text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-[#B86300] focus:border-[#B86300]'
              >Send Message</button
            >
          </div>
        </form>
      </div>
      </div>

    </div>
  </main>
</Layout>
<!-- <style is:global></style> -->
