---
---

<section class='bg-[#363333] text-white'>
  <div
    class='mx-auto max-w-[1400px] p-[16px] md:px-[60px] flex flex-col gap-y-5 justify-center pt-5'
  >
    <h2 class='text-3xl text-[#B86300] font-bold text-center'>
      Accredited Tilers in Dublin
    </h2>
    <p class='text-xl'>
      At Dublin Tiling Sservice, we take pride in maintaining the highest
      standards of tradesmanship in the tiling industry. As a result, we are
      members of several tiling trade organisations, including National Tiling
      Association Of Ireland, Acclaim, The Tile Association, and Schlüter.
    </p>
    <p class='text-xl'>
      Therefore, when you hire a tiler from Dublin Tiling Service, you are
      guaranteed a thoroughly professional service vetted by some of the
      best-known trade organisations in Dublin.
    </p>
  </div>
</section>
