---
import LazyProjectBackground from "./LazyProjectBackground";

interface IProjects {
  id: number;
  title: string;
  location: string;
  link: string;
  className: string;
}
const projects: IProjects[] = [
  {
    id: 1,
    title: "Bathroom refurbishment",
    location: "Somewhere, Dublin",
    link: "/",
    className: "kitchen1",
  },
  {
    id: 2,
    title: "Bathroom refurbishment",
    location: "Somewhere, Dublin",
    link: "/",
    className: "kitchen2",
  },
  {
    id: 3,
    title: "Bathroom refurbishment",
    location: "Somewhere, Dublin",
    link: "/",
    className: "kitchen3",
  },
];
---

<section class='bg-[#363333] text-white font-bold'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <h2 class='text-center text-3xl md:text-5xl font-bold pb-10'>Our Projects</h2>
    <ul class='flex flex-col gap-y-20 md:w-5/6 mx-auto'>
      {
        projects.map((project) => (
          <li class=' transition-transform duration-300 hover:-translate-y-3'>
            <a href={project.link}>
             <LazyProjectBackground client:visible title={project.title} location={project.location} className={project.className} />             
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style></style>
