---
import LazyProjectBackground from "./LazyProjectBackground";

interface IProjects {
  id: number;
  title: string;
  location: string;
  link: string;
  className: string;
}
const projects: IProjects[] = [
  {
    id: 1,
    title: "Bathroom refurbishment",
    location: "Dalkey, Dublin",
    link: "/projects/kozzy-bathroom-tiling",
    className: "kitchen1",
  },
  {
    id: 2,
    title: "Bathroom refurbishment",
    location: "Sword, Dublin",
    link: "/projects/kozzy-bathroom-tiling",
    className: "kitchen2",
  },
  {
    id: 3,
    title: "Bathroom refurbishment",
    location: "Bray, Dublin",
    link: "/projects/kozzy-bathroom-tiling",
    className: "kitchen3",
  },
  {
    id: 1,
    title: "Bathroom refurbishment",
    location: "Dalkey, Dublin",
    link: "/projects/kozzy-bathroom-tiling",
    className: "kitchen1",
  },
];
---

<section class='bg-[#363333] text-white font-bold'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <h2 class='text-center text-3xl md:text-5xl font-bold pb-10'>
      Several of Our Projects
    </h2>
    <ul class='grid grid-cols-1 md:grid-cols-2  gap-10'>
      {
        projects.map((project) => (
          <li class=' transition-transform duration-300 hover:-translate-y-3'>
            <a href={project.link}>
              <LazyProjectBackground
                client:visible
                title={project.title}
                location={project.location}
                className={project.className}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style></style>
