---
interface IProjects {
  id: number;
  title: string;
  location: string;
  link: string;
  className: string;
}
const projects: IProjects[] = [
  {
    id: 1,
    title: "Bathroom refurbishment",
    location: "Somewhere, Dublin",
    link: "/",
    className: "kitchen1",
  },
  {
    id: 2,
    title: "Bathroom refurbishment",
    location: "Somewhere, Dublin",
    link: "/",
    className: "kitchen2",
  },
  {
    id: 3,
    title: "Bathroom refurbishment",
    location: "Somewhere, Dublin",
    link: "/",
    className: "kitchen3",
  },
];
---

<section class='bg-[#363333] text-white'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <h2 class='text-center text-5xl font-bold pb-10'>Our Projects</h2>
    <ul class='flex flex-col gap-y-5 md:w-5/6 mx-auto'>
      {
        projects.map((project) => (
          <li class=' transition-transform duration-300 hover:-translate-y-3'>
            <a href={project.link}>
              <div
                class={`h-[300px] md:h-[400px] ${project.className} rounded-xl p-5 flex justify-end items-end`}
              >
                <div class='w-max m-4'>
                  <p class='md:text-3xl font-bold'>{project.title}</p>
                  <p class='md:text-3xl font-bold mt-1'>{project.location}</p>
                  <p class='bg-[#B86300] text-black text-sm  px-2 py-1 rounded w-max mt-3 font-bold  transition-transform duration-300 hover:scale-125'>
                    Show more
                  </p>
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .kitchen1 {
    background: url("../../images/top/front_image2.webp") no-repeat center/cover;
    /* background: rebeccapurple; */
  }
  .kitchen2 {
    /* background: url("../../images/services/kitchen.webp") no-repeat center/cover; */
    background: red;
  }
  .kitchen3 {
    /* background: url("../../images/services/office.webp") no-repeat center/cover; */
    background: green;
  }
</style>
