---
import Layout from "../../layouts/Layout.astro";
import com1 from "../../images/commercial/com11.webp";
import com2 from "../../images/commercial/com21.webp";
import com3 from "../../images/commercial/com31.webp";
import com4 from "../../images/commercial/com41.webp";
import Quote from "../../components/quote/Quote.astro";
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <div class='container mx-auto md:p-8'>
        <h1
          class='text-4xl md:text-6xl font-bold mb-4 text-center text-[#B86300]'
        >
          Commerciak Tiling Dublin
        </h1>
        <h2 class='text-2xl font-bold mb-4 text-center'>
          Commercial tiling with Dublin Tiling Service
        </h2>

        <div class='flex flex-col md:flex-row gap-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={com2}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Unparalleled Excellence in Bathroom Tile Installation
            </h3>
            <p class='text-lg mb-8'>
              Are you searching for top-notch contractors to elevate your
              bathroom's appeal? Look no further!
            </p>
            <p class='text-lg mb-8'>
              Our skilled team specializes in <strong class='text-[#B86300]'
                >bathroom tiling
              </strong> and is ready to bring your vision to life.
            </p>
            <p class='text-lg mb-8'>
              Serving Dublin and the surrounding County area, we are dedicated
              to delivering professional installation of various tile types,
              including ceramic, porcelain, marble, and granite. At Dublin
              Tiling Service, we understand that every detail matters when it
              comes to enhancing the interior decor of your space.
            </p>

            <p class='text-lg mb-8'>
              That's why we prioritize meticulous attention to detail throughout
              the entire tiling process.
            </p>
            <p>
              Our commitment lies in providing bathroom tiling services that are
              not only functional and long-lasting but also visually stunning.
            </p>
          </div>
        </div>

        <div class='flex flex-col-reverse md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Unmatched Expertise from Tile Selection to Installation
            </h3>
            <p class='text-lg mb-8'>
              What sets us apart is our comprehensive approach to bathroom
              tiling and design. We don't just install tiles; we offer a range
              of services that go beyond your expectations.
            </p>
            <p class='text-lg mb-8'>
              Our team of industry professionals and experienced craftsmen will
              guide you through the tile selection process, ensuring your
              choices are compatible and aligned with your preferences.
            </p>
            <p class='text-lg mb-8'>
              You'll never feel uncertain or overwhelmed with our expert advice.
            </p>
          </div>
          <div class='basis-1/2'>
            <img
              src={com3}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
        </div>

        <div class='flex flex-col md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={com1}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mt-16 mb-8'>
              Transforming Your Space with Expert Precision
            </h3>
            <p class='text-lg mb-8'>
              Remodeling your bathroom? Trust us to handle it seamlessly. We
              skillfully remove existing tiles and replace them with your chosen
              ones, employing precise techniques and thorough surface
              preparation.
            </p>
            <p class='text-lg mb-8'>
              From your shower to your bathtub, floors to backsplash, we have
              the ideal tiling solutions that will transform your bathroom into
              a masterpiece.
            </p>
            <p class='text-lg'>
              Dublin Tiling Service is here to exceed your expectations with
              exceptional efficiency and precision. Get in touch with our
              skilled team today and let us bring your dream bathroom to life.
            </p>
          </div>
        </div>
        <Quote />
      </div>
    </div>
  </main>
</Layout>
<!-- <style is:global></style> -->
