---
import Layout from "../../layouts/Layout.astro";
import com1 from "../../images/commercial/com11.webp";
import com2 from "../../images/commercial/com21.webp";
import com3 from "../../images/commercial/com31.webp";
import com4 from "../../images/commercial/com41.webp";
import Quote from "../../components/quote/Quote.astro";
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <div class='container mx-auto md:p-8'>
        <h1
          class='text-4xl md:text-6xl font-bold mb-4 text-center text-[#B86300]'
        >
          Commercial Tiling Dublin
        </h1>
        <h2 class='text-2xl font-bold mb-4 text-center'>
          Elevating Commercial Spaces: The Power of Durable and Customizable
          Office Tiling
        </h2>

        <div class='flex flex-col md:flex-row gap-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={com2}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Sustainable Style and Resilience: Unleashing the Power of Office
              Commercial Tilingn
            </h3>
            <p class='text-lg mb-8'>
              Office commercial tiling offers a professional and practical
              flooring solution for commercial spaces.
            </p>
            <p class='text-lg mb-8'>
              Whether it's a corporate office, retail store, or hospitality
              establishment, <strong class='text-[#B86300]'
                >commercial tiling
              </strong> provides a range of benefits that meet the demands of a busy
              work environment.
            </p>
            <p class='text-lg mb-8'>
              One of the key advantages of office commercial tiling is its
              durability.
            </p>

            <p class='text-lg mb-8'>
              Commercial tiles are designed to withstand heavy foot traffic and
              the daily wear and tear of a bustling workplace.
            </p>
            <p>
              They are resistant to scratches, stains, and fading, ensuring a
              long-lasting and visually appealing flooring option that can
              withstand the demands of a commercial setting.
            </p>
          </div>
        </div>

        <div class='flex flex-col-reverse md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Unleashing Design Possibilities and Ease of Maintenance: Office
              Commercial Tiling for Versatile Spaces
            </h3>
            <p class='text-lg mb-8'>
              I need title for next part of text:"Commercial tiling also offers
              versatility in design. With a wide range of tile materials,
              colors, sizes, and patterns available, it's possible to create a
              customized look that aligns with the brand identity and interior
              design of the office space.
            </p>
            <p class='text-lg mb-8'>
              Whether you prefer a sleek and modern aesthetic or a more
              traditional and timeless appeal, commercial tiles can be chosen to
              suit your specific style requirements.
            </p>
            <p class='text-lg mb-8'>
              In addition to durability and aesthetics, office commercial tiling
              is relatively low maintenance. Tiles can be easily cleaned and
              maintained with regular sweeping and mopping, making it convenient
              for busy commercial spaces. Moreover, commercial tiles are often
              resistant to moisture, making them suitable for areas such as
              restrooms or kitchenettes.
            </p>
          </div>
          <div class='basis-1/2'>
            <img
              src={com3}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
        </div>

        <div class='flex flex-col md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={com1}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              The Foundation of Excellence: Expert Installation for Flawless
              Office Commercial Tiling
            </h3>
            <p class='text-lg mb-8'>
              Proper installation of office commercial tiling is crucial to
              ensure a level and secure foundation. Professional installers have
              the expertise to prepare the subfloor, address any unevenness, and
              ensure precise tile placement.
            </p>
            <p class='text-lg mb-8'>
              his not only ensures a visually appealing result but also
              minimizes the risk of issues such as tile movement or uneven
              surfaces.
            </p>
            <p class='text-lg'>
              Office commercial tiling provides a reliable and visually pleasing
              flooring solution for commercial spaces. With its durability,
              design versatility, and low maintenance requirements, it can
              create an attractive and professional environment that enhances
              productivity and leaves a positive impression on clients and
              employees alike.
            </p>
          </div>
        </div>
        <Quote />
      </div>
    </div>
  </main>
</Layout>
<!-- <style is:global></style> -->
