---
import Layout from "../../layouts/Layout.astro";
import shower1 from "../../images/shower/shower1.webp";
import shower2 from "../../images/shower/shower2.webp";
import shower3 from "../../images/shower/shower3.webp";
import Quote from "../../components/quote/Quote.astro";
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <div class='container mx-auto md:p-8'>
        <h1
          class='text-4xl md:text-6xl font-bold mb-4 text-center text-[#B86300]'
        >
          Shower Tiling Dublin
        </h1>
        <h2 class='text-2xl font-bold mb-4 text-center'>
          Elevate Your Shower Experience: The Beauty and Practicality of Shower
          Tiling
        </h2>

        <div class='flex flex-col md:flex-row gap-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={shower1}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              The Perfect Blend of Form and Function: Harnessing the Power of
              Shower Tiling for Beautifully Resilient Spaces
            </h3>
            <p class='text-lg mb-8'>
              Shower tiling offers both functional and aesthetic benefits,
              making it a popular choice for creating beautiful and practical
              shower spaces.
            </p>
            <p class='text-lg mb-8'>
              Whether it's a standalone shower or part of a larger bathroom,
              tiling provides a durable and stylish solution that enhances the
              overall look and feel of the space.
            </p>
            <p class='text-lg mb-8'>
              One of the key advantages of shower tiling is its ability to
              withstand moisture and water exposure. Tiles designed specifically
              for showers are often made from materials such as ceramic,
              porcelain, or natural stone, which are highly resistant to water
              damage. This ensures that the shower area remains structurally
              sound and free from issues such as mold or mildew
            </p>

            <p class='text-lg mb-8'>
              That's why we prioritize meticulous attention to detail throughout
              the entire tiling process.
            </p>
            <p>
              Our commitment lies in providing bathroom tiling services that are
              not only functional and long-lasting but also visually stunning.
            </p>
          </div>
        </div>

        <div class='flex flex-col-reverse md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Unleash Your Creativity: Design Freedom and Easy Maintenance with
              Shower Tiling
            </h3>
            <p class='text-lg mb-8'>
              I need title for next part of text:"In addition to its
              water-resistant properties, shower tiling offers a wide range of
              design possibilities. With an array of colors, patterns, shapes,
              and sizes available, you can create a shower space that matches
              your personal style and complements the overall aesthetic of your
              bathroom.
            </p>
            <p class='text-lg mb-8'>
              From sleek and modern subway tiles to intricate mosaic designs,
              the options are virtually endless.
            </p>
            <p class='text-lg mb-8'>
              Shower tiling also provides ease of maintenance. Tiles are
              relatively simple to clean, requiring regular wiping and
              occasional grout maintenance. This makes it easier to keep your
              shower area looking fresh and hygienic, even with daily use.
            </p>
          </div>
          <div class='basis-1/2'>
            <img
              src={shower2}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
        </div>

        <div class='flex flex-col md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={shower3}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              The Foundation of Perfection: Expert Installation and Enduring
              Beauty of Shower Tiling
            </h3>
            <p class='text-lg mb-8'>
              Proper installation is crucial when it comes to shower tiling.
              Skilled professionals ensure that the tiles are properly sealed
              and securely placed to prevent water leakage and promote
              longevity.
            </p>
            <p class='text-lg mb-8'>
              Additionally, expert installation ensures that the shower area is
              level and sloped correctly for proper drainage.
            </p>
            <p class='text-lg'>
              With its durability, design versatility, and easy maintenance,
              shower tiling offers a practical and visually appealing solution
              for creating a spa-like oasis in your bathroom. Whether you prefer
              a minimalist and modern look or a more intricate and decorative
              style, shower tiling can transform your shower space into a
              luxurious retreat.
            </p>
          </div>
        </div>
        <Quote />
      </div>
    </div>
  </main>
  <!-- <style is:global></style> -->
</Layout>
