---
import Layout from "../../layouts/Layout.astro";
import outdoor1 from "../../images/outdoor/outdoor1.webp";
import outdoor2 from "../../images/outdoor/outdoor2.webp";
import outdoor3 from "../../images/outdoor/outdoor3.webp";
import Quote from "../../components/quote/Quote.astro";
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <div class='container mx-auto md:p-8'>
        <h1
          class='text-4xl md:text-6xl font-bold mb-4 text-center text-[#B86300]'
        >
          Outdoor Tiling Dublin
        </h1>
        <h2 class='text-2xl font-bold mb-4 text-center'>
          Elevating Outdoor Spaces with Durable and Stylish Tiling Solutions
        </h2>

        <div class='flex flex-col md:flex-row gap-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={outdoor2}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Unleashing the Potential of Outdoor Spaces: Enhancing Beauty and
              Endurance with Outdoor Tiling
            </h3>
            <p class='text-lg mb-8'>
              Outdoor tiling brings functionality and beauty to outdoor spaces,
              transforming them into inviting and stylish areas for relaxation,
              entertainment, and recreation.
            </p>
            <p class='text-lg mb-8'>
              Whether it's a patio, poolside, pathway, or garden area, <strong
                class='text-[#B86300]'
                >outdoor tiling
              </strong> offers numerous advantages for enhancing the outdoor environment.
            </p>
            <p class='text-lg mb-8'>
              One of the primary benefits of outdoor tiling is its durability.
            </p>

            <p class='text-lg mb-8'>
              Tiles designed for outdoor use are specifically made to withstand
              various weather conditions, including rain, sunlight, and
              temperature fluctuations.
            </p>
            <p>
              They are resistant to fading, cracking, and warping, ensuring a
              long-lasting solution for your outdoor flooring needs.
            </p>
          </div>
        </div>

        <div class='flex flex-col-reverse md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Creating Outdoor Oasis: Exploring Versatile Styles and Easy
              Maintenance of Outdoor Tiling
            </h3>
            <p class='text-lg mb-8'>
              I need title for next part of text:"Outdoor tiles come in a wide
              range of materials, including natural stone, porcelain, ceramic,
              and even concrete. This variety allows you to choose a style that
              suits your personal taste and complements the overall design of
              your outdoor space.
            </p>
            <p class='text-lg mb-8'>
              From rustic stone tiles that add a touch of elegance to
              contemporary porcelain tiles that offer a sleek and modern look,
              there's an outdoor tile for every aesthetic preference
            </p>
            <p class='text-lg mb-8'>
              In addition to aesthetics and durability, outdoor tiling is also
              easy to clean and maintain. Sweeping away dirt and debris or
              simply hosing down the tiles can keep them looking fresh and
              vibrant. Moreover, outdoor tiles are typically resistant to
              stains, making them an excellent choice for areas that are prone
              to spills or outdoor dining.
            </p>
          </div>
          <div class='basis-1/2'>
            <img
              src={outdoor1}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
        </div>

        <div class='flex flex-col md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={outdoor3}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Crafting Outdoor Perfection: Expert Installation for Seamless and
              Enduring Outdoor Tiling
            </h3>
            <p class='text-lg mb-8'>
              Proper installation is crucial for outdoor tiling to ensure a
              stable and level surface. Skilled professionals have the expertise
              to prepare the base, ensure proper drainage, and lay the tiles
              with precision.
            </p>
            <p class='text-lg mb-8'>
              This not only guarantees a beautiful and functional outdoor area
              but also minimizes the risk of issues such as water pooling or
              uneven surfaces.
            </p>
            <p class='text-lg'>
              Outdoor tiling is a versatile and practical choice for enhancing
              the beauty and functionality of outdoor spaces. With its
              durability, aesthetic appeal, and easy maintenance, it provides a
              long-lasting flooring solution that can withstand the elements
              while creating a welcoming and stylish outdoor environment.
            </p>
          </div>
        </div>
        <Quote />
      </div>
    </div>
  </main>
  <!-- <style is:global></style> -->
</Layout>
