---
import arrow from "../../images/navbar/arrow.svg";
import { questions } from "../../data/questions";
import Answer from "./Answer.astro";
---

<section class='bg-[#363333] text-white py-10'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <h2 class='text-center text-3xl md:text-5xl font-bold pb-10'>
      Most Common Questions About Tiling
    </h2>

    <ul
      class='md:w-5/6 mx-auto flex flex-col justify-start gap-y-5'
      itemscope
      itemtype='https://schema.org/FAQPage'
    >
      {
        questions.map((q) => (
          <li
            class='qa'
            itemscope
            itemprop='mainEntity'
            itemtype='https://schema.org/Question'
          >
            <div class='question_box flex gap-x-2 text-xl md:text-3xl'>
              <button type='button' itemprop='name'>
                {q.question}
              </button>
              <img
                class='mx-1 transition-transform duration-300 cursor-pointer'
                src={arrow}
                width={14}
                height={15}
                alt='arrow'
              />
            </div>
            <div
              class='answer_box'
              itemscope
              itemprop='acceptedAnswer'
              itemtype='https://schema.org/Answer'
            >
              <Answer answer={q.answer} />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
<script>
  function setHidden() {
    const questionBoxes = document.querySelectorAll("div.question_box");
    questionBoxes.forEach((box) => {
      const image = box.querySelector("img");
      image.classList.remove("rotate-180");
    });

    const answerBoxes = document.querySelectorAll("div.answer_box");
    answerBoxes.forEach((box) => {
      const answer = box.querySelector("div.answer");
      answer.classList.add("hidden");
    });
  }

  function hasClassHidden(element: Element): boolean {
    return element.classList.contains("hidden");
  }

  const liElements = document.querySelectorAll("li.qa");

  liElements.forEach((liElement) => {
    setHidden();
    const questionBox = liElement.querySelector("div.question_box");
    questionBox.addEventListener("click", (event: Event) => {
      const parentLi = (event.target as HTMLElement).parentNode.parentNode;
      const image = (event.target as HTMLElement).parentNode.querySelector(
        "img"
      );

      const answerBox = parentLi.querySelector("div.answer_box");
      const answer = answerBox.querySelector("div.answer");
      if (hasClassHidden(answer)) {
        setHidden();
        answer.classList.remove("hidden");
        image.classList.add("rotate-180");
      } else {
        answer.classList.add("hidden");
        image.classList.remove("rotate-180");
      }
    });
  });
</script>
