---
import Layout from "../../layouts/Layout.astro";
import floor1 from "../../images/floor/floor1.webp";
import floor2 from "../../images/floor/floor2.webp";
import floor3 from "../../images/floor/floor3.webp";
import Quote from "../../components/quote/Quote.astro";
---

<Layout title='Floor Tiling |Dublin Tiling Services '>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <div class='container mx-auto md:p-8'>
        <h1
          class='text-4xl md:text-6xl font-bold mb-4 text-center text-[#B86300]'
        >
          Floor Tiling Dublin
        </h1>
        <h2 class='text-2xl font-bold mb-4 text-center'>
          Enhancing Spaces with Floor Tiling: A Blend of Style and Practicality
        </h2>
        <div class='flex flex-col md:flex-row gap-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={floor1}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Transforming Spaces with Versatile Floor Tiling: Unleashing
              Creativity and Craftsmanship
            </h3>
            <p class='text-lg mb-8'>
              Floor tiling is a popular and practical choice for enhancing the
              aesthetics and functionality of a space.
            </p>
            <p class='text-lg mb-8'>
              Whether it's in a residential, commercial, or public setting,
              tiling provides a durable and stylish solution for flooring needs.
            </p>
            <p class='text-lg mb-8'>
              One of the key advantages of <strong class='text-[#B86300]'
                >floor tiling
              </strong> is its versatility. With a wide range of materials, colors,
              shapes, and sizes available, it offers endless design possibilities.
            </p>

            <p class='text-lg mb-8'>
              From classic ceramic and porcelain tiles to natural stone options
              like marble or travertine, there's a tile to suit every taste and
              interior style. Our skilled team specializes in and is ready to
              bring your vision to life.
            </p>
          </div>
        </div>

        <div class='flex flex-col-reverse md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Unmatched Expertise from Tile Selection to Installation
            </h3>
            <p class='text-lg mb-8'>
              From kitchens and bathrooms to living areas and commercial spaces,
              floor tiling offers a timeless and practical flooring solution.
              With its aesthetic appeal, durability, and ease of maintenance, it
              continues to be a popular choice for creating stylish and
              functional environments.
            </p>
            <p class='text-lg mb-8'>
              Apart from its aesthetic appeal, floor tiling also offers several
              practical benefits. Tiles are easy to clean and maintain, making
              them ideal for high-traffic areas or places prone to spills and
              stains. They are resistant to water, scratches, and wear, ensuring
              longevity and durability. Additionally, tiling can be an excellent
              choice for spaces with underfloor heating systems, as tiles retain
              and distribute heat effectively.
            </p>
            <p class='text-lg mb-8'>
              Our team of industry professionals and experienced craftsmen will
              guide you through the tile selection process, ensuring your
              choices are compatible and aligned with your preferences.
            </p>
            <p class='text-lg mb-8'>
              You'll never feel uncertain or overwhelmed with our expert advice.
            </p>
          </div>
          <div class='basis-1/2'>
            <img
              src={floor3}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
        </div>

        <div class='flex flex-col md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={floor2}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Masterful Installation of Floor Tiles: Ensuring Durability and
              Aesthetics with Expert Craftsmanship
            </h3>
            <p class='text-lg mb-8'>
              Installation of floor tiles requires skilled professionals to
              ensure a level and secure foundation.
            </p>
            <p class='text-lg mb-8'>
              Properly installed tiles provide a solid and even surface that
              withstands heavy foot traffic without compromising stability.
            </p>
            <p class='text-lg'>
              Grouting between the tiles not only enhances their appearance but
              also prevents water seepage and protects against damage.
            </p>
          </div>
        </div>
        <Quote />
      </div>
    </div>
  </main>
  <!-- <style is:global></style> -->
</Layout>
