---
import call from "../../images/top/call.svg";
---

<div class='rounded-lg text-sm mr-16'>
  <div class='md:mt-1'>
    <a href='tel:+083 173 71XX'>
      <img src={call} width={42} height={42} alt='phone number' />
    </a>
  </div>
</div>
