---
import Slider from "../../components/slider/Slider";
import images from "../../data/slider/bathroom_slider_data";
import images2 from "../../data/slider/kitchen_slider_data";
---

<section class='bg-[#363333] text-white text-xl'>
  <div
    class='mx-auto max-w-[1400px] p-[16px] md:px-[60px] flex flex-col gap-y-3 justify-center'
  >
    <h3
      class='text-[#B86300] text-3xl md:text-6xl font-bold mt-10 text-center pb-5'
    >
      Unparalleled Excellence in Bathroom Tile Installation
    </h3>
    <p>
      Transform your bathroom into a stunning oasis with our exceptional
      bathroom tiling services in Dublin. At DTS , our tilers specialize in
      creating beautiful and functional spaces that will leave you in awe. With
      our team of expert craftsmen and extensive experience in bathroom
      renovations, we guarantee the highest quality tiling solutions for your
      home.
    </p>
    <p>
      When it comes to bathroom tiling, we take pride in our attention to detail
      and meticulous craftsmanship. Our skilled tilers have an eye for design
      and can help you choose the perfect tiles to enhance the aesthetics of
      your bathroom. Whether you prefer a contemporary, minimalist look or a
      more traditional and elegant style, we have a wide range of options to
      suit your taste.
    </p>
    <Slider client:visible items={images} />
    <p>
      From the floor to the walls and even the shower enclosure, our bathroom
      tiling services cover every aspect of your project. Our team uses only the
      finest materials, ensuring durability and longevity for your investment.
      We understand that every bathroom is unique, which is why we offer a
      personalized approach to meet your specific needs and preferences.
    </p>
    <p>
      With our bathroom tiling expertise, you can say goodbye to outdated and
      worn-out surfaces. Our skilled ttilers will transform your bathroom into a
      modern and inviting space that reflects your style and personality.
      Whether you're looking to refresh a small powder room or undertake a
      complete bathroom renovation, we have the knowledge and expertise to
      deliver exceptional results.
    </p>
    <p>
      Don't settle for anything less than the best when it comes to bathroom
      tiling in Dublin. Choose DTS for top-notch craftsmanship, unmatched
      attention to detail, and outstanding customer service. Contact us today to
      schedule a consultation and let us bring your dream bathroom to life.
      Experience the beauty and elegance of expertly installed bathroom tiling
      that will stand the test of time.
    </p>
    <h3
      class='text-[#B86300] text-3xl md:text-6xl font-bold mt-10 text-center pb-5'
    >
      Revitalize your kitchen with our top-notch kitchen tiling services in
      Dublin.
    </h3>
    <p>
      At DTS, our tilers are dedicated to transforming ordinary kitchens into
      extraordinary spaces with our exceptional kitchen tiling expertise. With
      our skilled craftsmen and years of experience in kitchen renovations, we
      guarantee stunning results that will exceed your expectations.
    </p>

    <p>
      When it comes to kitchen tiling, we take pride in our attention to detail
      and commitment to excellence. Our team of experts understands the
      importance of a well-designed and functional kitchen, and we're here to
      bring your vision to life. From backsplashes to floors and everything in
      between, our kitchen tiling services cover all aspects of your
      project.With our wide range of high-quality tiles, you can create a
      kitchen that reflects your unique style and personality. Whether you
      prefer a sleek, modern look or a more rustic and traditional feel, our
      selection of tiles offers endless possibilities. Our experienced
      professionals will work closely with you to choose the perfect tiles that
      complement your kitchen's design and color scheme.
    </p>
    <Slider client:visible items={images2} />
    <p>
      We understand that kitchen tiling is not just about aesthetics; it's also
      about durability and practicality. That's why we only use the finest
      materials and employ skilled craftsmen to ensure long-lasting and flawless
      installations. With our meticulous attention to detail, you can trust that
      your kitchen tiling will withstand daily wear and tear while maintaining
      its beauty.
    </p>
    <p>
      Transforming your kitchen has never been easier with our reliable and
      efficient kitchen tiling services. Whether you're looking to update a
      small area or completely renovate your kitchen, our team is equipped with
      the expertise to handle projects of any size. We strive for complete
      customer satisfaction and will go above and beyond to deliver results that
      surpass your expectations.
    </p>
    <p>
      Choose us for all your kitchen tiling needs in Dublin. Our dedication to
      quality, attention to detail, and exceptional customer service set us
      apart. Contact us today to schedule a consultation and let us bring your
      dream kitchen to life. Experience the beauty and functionality of expertly
      installed kitchen tiling that will enhance your cooking space for years to
      come.
    </p>
    <h3
      class='text-[#B86300] text-3xl md:text-6xl font-bold mt-10 text-center pb-5'
    >
      Introducing Dublin's Top Commercial Tiling Experts!
    </h3>
    <p>
      In Dublin, we understand the importance of high-quality commercial tiling
      to create a lasting impression. Our tilers is dedicated to delivering
      exceptional craftsmanship and precision, ensuring every project is
      completed to the highest standards.
    </p>
    <p>
      Whether you need commercial tiling for a retail space, restaurant, hotel,
      or office, our skilled professionals have the knowledge and expertise to
      handle it all. We specialize in a wide range of commercial tiling
      solutions, from stylish floor installations to elegant wall designs.
    </p>
    <p>
      With our commitment to customer satisfaction, we take pride in offering
      tailored solutions that meet your specific needs and budget. Our dedicated
      team will work closely with you, providing expert advice and guidance
      throughout the entire process. We understand the unique requirements of
      office tiling, ensuring a seamless and professional finish that enhances
      your workspace.
    </p>
    <p>
      When you choose us for your commercial tiling needs, you can expect
      nothing less than exceptional results. Our tilers utilizes the latest
      techniques and top-of-the-line materials to ensure durability and
      longevity. We strive for excellence in every project, delivering stunning
      and functional commercial tiling solutions that exceed your expectations.
      Don't settle for anything less than the best. Contact DTS today to discuss
      your commercial tiling requirements. Our expert team is ready to transform
      your space with our unrivaled expertise in commercial and office tiling.
      Trust the professionals for all your commercial tiling needs in Dublin.
    </p>
    <p>
      Experience the DTS difference – where expert craftsmanship meets
      exceptional service in Dublin.
    </p>
  </div>
</section>
<style></style>
