---
import Layout from "../layouts/Layout.astro";
import Top from "../components/top/Top.astro";
import Accreditation from "../components/accreditation/Accreditation.astro";
// import Calculator from "../components/calculator/Calculator";
import Services from "../components/services/Services.astro";
import Advertise from "../components/advertise/Advertise.astro";
import QuestionsList from "../components/questions/Questions";
import Projects from "../components/projects/Projects.astro";
import Technology from "../components/technology/Technology.astro";
import { questions } from "../data/questions";
import Feedback from "../components/testimonials/Feedback.astro";
---

<Layout title='Dublin Tiling Services | Dublin Tiling'>
  <Top />
  <Accreditation />
  <!-- <Calculator client:load /> -->
  <Services />
  <Advertise />
  <Projects />
  <QuestionsList client:visible questions={questions} />
  <Technology />
  <Feedback />
  <div class='flex justify-center bg-[#363333] text-white'>
    <a href='/contact' class='hover:underline'>
      <div
        class='px-12 py-4 bg-[#B86300] rounded md:text-2xl text-center text-white my-10'
        style={{ textShadow: "0.5px  0.5px  #6C6B69" }}
      >
        GET A FREE QUOTE
      </div>
    </a>
  </div>
</Layout>
<style is:global>
  .t0 {
    background: url("../images/technology/0.webp") no-repeat center/cover;
  }
  .t1 {
    background: url("../images/technology/1.webp") no-repeat center/cover;
  }
  .t2 {
    background: url("../images/technology/2.webp") no-repeat center/cover;
  }
  .t3 {
    background: url("../images/technology/3.webp") no-repeat center/cover;
  }
  .t4 {
    background: url("../images/technology/4.webp") no-repeat center/cover;
  }
  .t5 {
    background: url("../images/technology/5.webp") no-repeat center/cover;
  }
  .kitchen1 {
    background: url("../images/projects/bathroom1.webp") no-repeat center/cover;
    /* background: rebeccapurple; */
  }
  .kitchen2 {
    background: url("../images/projects/bathroom2.webp") no-repeat center/cover;
    /* background: red; */
  }
  .kitchen3 {
    background: url("../images/projects/bathroom4.webp") no-repeat center/cover;
    /* background: green; */
  }
  /* Markdown */
  .markdown * {
    font-size: 18px;
  }

  .markdown h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
  }

  .markdown ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
  }

  .markdown ol {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
  }

  .markdown ul > li + li {
    margin-top: 5px;
  }

  .markdown img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
</style>
