---
import Layout from "../layouts/Layout.astro";
import Top from "../components/top/Top.astro";
import Services from "../components/services/Services.astro";
import Advertise from "../components/advertise/Advertise.astro";
import QuestionsList from "../components/questions/Questions";
import Projects from "../components/projects/Projects.astro";

import { questions } from "../data/questions";
---

<Layout title='Welcome to Tiling Service'>
  <main></main>
  <Top />
  <Services />
  <Advertise />
  <Projects />
  <QuestionsList client:visible questions={questions} />
  <!-- <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2> -->
</Layout>
<style is:global>
   .kitchen1 {
    background: url("../images/projects/bathroom1.webp") no-repeat center/cover;
    /* background: rebeccapurple; */
  }
  .kitchen2 {
    background: url("../images/projects/bathroom2.webp") no-repeat center/cover;
    /* background: red; */
  }
  .kitchen3 {
    background: url("../images/projects/bathroom4.webp") no-repeat center/cover;
    /* background: green; */
  }
  /* Markdown */
.markdown * {
  font-size: 18px;
}

.markdown h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0;
}

.markdown ul {
  list-style-type: disc;
  margin: 10px 0;
  padding-left: 20px;
}

.markdown ol {
  list-style-type: disc;
  margin: 10px 0;
  padding-left: 20px;
}

.markdown ul > li + li {
  margin-top: 5px;
}

.markdown img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 5px;
}
</style>
