---
import Layout from "../layouts/Layout.astro";
import Top from "../components/top/Top.astro";
import Services from "../components/services/Services.astro";
---

<Layout title='Welcome to Tiling Service'>
  <main></main>
  <Top />
  <Services />
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
  <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
  <h2 class='text-green-500'>Welcome to Tailwind</h2>
</Layout>
