---
import logo from "../../images/logo/logo.svg";
import arrow from "../../images/navbar/arrow.svg";
import Phone from "../phone/Phone.astro";
import BurgerModal from "./BurgerModal";
---

<header class='sticky z-50 top-0 left-0 right-0 bg-[#363333] text-white'>
  <div class='relative mx-auto max-w-[1400px] px-[8px] md:px-[60px]'>
    <nav class='flex items-center justify-between py-2 md:py-4'>
      <a href='/' class='mr-5'>
        <img src={logo} width={151} height={51} alt='company logo' />
      </a>
      <div class='hidden md:block'>
        <Phone />
      </div>
      <BurgerModal client:visible />
      {/* Desktop navigation */}
      <menu
        itemscope
        itemtype='http://www.schema.org/SiteNavigationElement'
        class='hidden md:flex justify-center items-center space-x-6 text-sm'
      >
        <li class='dropdown hover:underline'>
          <p class='py-6'>
            TILING SERVICES
            <img
              class='inline ml-1 mb-1'
              src={arrow}
              width={10}
              height={11}
              alt='arrow'
            />
          </p>

          <menu
            itemscope
            itemtype='http://schema.org/SiteNavigationElement'
            class='dropdown-content right-0 top-16 bg-white shadow-lg border-black border-2 font-bold'
          >
            <li itemprop='name'>
              <a
                itemprop='url'
                href='https://tiling-site.netlify.app/bathroom-tiling/'
                class='block px-4 py-2 text-gray-800 hover:bg-gray-200'
              >
                Bathroom tiling
              </a>
            </li>
            <li itemprop='name'>
              <a
                itemprop='url'
                href='https://tiling-site.netlify.app/kitchen-tiling/'
                class='block px-4 py-2 text-gray-800 hover:bg-gray-200'
              >
                Kitchen tiling
              </a>
            </li>
            <li itemprop='name'>
              <a
                itemprop='url'
                href='https://tiling-site.netlify.app/outdoor-tiling/'
                class='block px-4 py-2 text-gray-800 hover:bg-gray-200'
              >
                Outdoor tiling
              </a>
            </li>
            <li itemprop='name'>
              <a
                itemprop='url'
                href='/commercial-tiling/'
                class='block px-4 py-2 text-gray-800 hover:bg-gray-200'
              >
                Commercial tiling
              </a>
            </li>
            <li itemprop='name'>
              <a
                itemprop='url'
                href='https://tiling-site.netlify.app/floor-tiling/'
                class='block px-4 py-2 text-gray-800 hover:bg-gray-200 c'
              >
                Floor tiling
              </a>
            </li>
            <li itemprop='name'>
              <a
                itemprop='url'
                href='https://tiling-site.netlify.app/shower-tiling/'
                class='block px-4 py-2 text-gray-800 hover:bg-gray-200'
              >
                Shower tiling
              </a>
            </li>
          </menu>
        </li>
        <li>
          <a href='/projects/' class='hover:underline'>FINISHED PROJECTS</a>
        </li>
        <li>
          <a href='/contact/' class='hover:underline'>
            <div
              style={{ textShadow: "0.5px  0.5px  #A2A09D" }}
              class='px-6 py-4 bg-[#e02b2b] rounded-lg'
            >
              GET A FREE QUOTE
            </div></a
          >
        </li>
      </menu>
    </nav>
  </div>
</header>
