---
import Layout from "../../layouts/Layout.astro";
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px] text-2xl'>
      <h1>Privacy Policy</h1>
      <p>This Privacy Policy explains how we collect, use, disclose, and protect your personal information when you visit and use our website, htps://tiling-site.netlify.app (the "Site"). We respect your privacy and are committed to safeguarding your personal information. By accessing or using the Site, you consent to the terms of this Privacy Policy.</p>
      <p>Information We Collect</p>
      <p>Personal Information: When you visit the Site, we may collect certain personal information that you voluntarily provide to us, such as your name, email address, and any other information you choose to provide through contact forms or other means.</p>
      <p>Usage Data: We may automatically collect certain information about your device and how you interact with the Site. This may include your IP address, browser type, referring/exit pages, and other analytics data. This information is used to analyze trends, administer the Site, track users' movements, and gather demographic information.</p>
      <p>Use of Information</p>
      <p>We may use the collected information for the following purposes:</p>
      <p>To provide and maintain the Site's functionality and services.</p>
      <p>To personalize and improve your experience on the Site.</p>
      <p>To respond to your inquiries, questions, or requests.</p>
      <p>To send you newsletters, marketing communications, or other information that may be of interest to you. You may opt-out of receiving such communications at any time.</p>
      <p>Data Sharing and Disclosure</p>
      <p>We may share your personal information in the following circumstances:</p>
      <p>With trusted third-party service providers who assist us in operating the Site and providing our services. These providers are obligated to protect your information and only process it on our behalf.</p>
      <p>When required by law, such as in response to a court order or other legal process.</p>
      <p>If we believe that disclosure is necessary to protect our rights, enforce our terms and conditions, or protect the safety and security of the Site, our users, or others.</p>
      <p>Data Security</p>
      <p>We take appropriate measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. However, please note that no method of transmission over the internet or electronic storage is completely secure. Therefore, while we strive to use commercially acceptable means to protect your information, we cannot guarantee its absolute security.</p>
      <p>Third-Party Websites</p>
      <p>Our Site may contain links to third-party websites that are not operated by us. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of these third-party sites. We encourage you to review the privacy policies of any such third-party websites you visit.</p>
      <p>Children's Privacy</p>
      <p>Our Site is not intended for use by individuals under the age of 18. We do not knowingly collect personal information from children. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us, and we will take steps to delete such information from our systems.</p>
      <p>Changes to this Privacy Policy</p>
      <p>We reserve the right to update or change this Privacy Policy at any time. Any revisions will be effective immediately upon posting the updated Privacy Policy on the Site. Your continued use of the Site after the posting of any changes constitutes your acceptance of those changes.</p>
      <p>Contact Us</p>
      <p>If you have any questions or concerns about this Privacy Policy, please contact us at [contact email].</p>
    </div>
  </main>
</Layout>
<!-- <style is:global></style> -->
