---
import LazyTechnologyBackground from "./LazyTechnologyBackground";

interface ITechhology {
  id: number;
  title: string;
  link: string;
  className: string;
}
const projects: ITechhology[] = [
  {
    id: 1,
    title: "",
    link: "/",
    className: "t0",
  },
  {
    id: 2,
    title: "",
    link: "/",
    className: "t1",
  },
  {
    id: 3,
    title: "",
    link: "/",
    className: "t2",
  },
  {
    id: 4,
    title: "",
    link: "/",
    className: "t3",
  },
  {
    id: 5,
    title: "",
    link: "/",
    className: "t4",
  },
  {
    id: 6,
    title: "",
    link: "/",
    className: "t5",
  },
];
---

<section class='bg-[#363333] text-white md:py-10'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <h2 class='text-center text-3xl md:text-5xl font-bold pb-5'>
      Tiling Process from Accredited Tilers in Dublin
    </h2>
    <p class='pb-10 text-2xl text-center'>
      Our tilers use best tools, sistems and practices to bring you awesome
      quality of tiling
    </p>

    <ul class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4'>
      {
        projects.map((project) => (
          <li class=''>
            <LazyTechnologyBackground
              client:visible
              title={project.title}
              className={project.className}
            />
          </li>
        ))
      }
    </ul>
    <p class='text-xl  mx-auto text-justify mb-5 mt-10'>
      At Dublin Tiling Service, we take pride in maintaining the highest
      standards of tradesmanship in the tiling industry. As a result, we are
      members of several tiling trade organisations, including National Tiling
      Association Of Ireland, Acclaim, The Tile Association, and Schlüter.
    </p>
    <p class='text-xl  mx-auto text-justify mb-5'>
      Therefore, when you hire a tilers from Dublin Tiling Service, you are
      guaranteed a thoroughly professional service vetted by some of the
      best-known trade organisations in Dublin.
    </p>
  </div>
</section>

<style></style>
