---
import Layout from "../../layouts/Layout.astro";
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <h1>Projects</h1>
    </div>
  </main>
</Layout>
<!-- <style is:global></style> -->
