---
import Quote from "../../components/quote/Quote.astro";
import Layout from "../../layouts/Layout.astro";
const projects = [
  {
    id: 1,
    title: "Bathroom Tiling in Sword, Dublin",
    bg: "bathroom7",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 2,
    title: "Luxury Bathroom Tiling in Foxrock, Dublin",
    bg: "bathroom1",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 3,
    title: "Bathroom Renovation Dublin",
    bg: "bathroom",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 4,
    title: "Floor tiling Dublin",
    bg: "floor",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 5,
    title: "Commercial tiling Dublin",
    bg: "office",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 6,
    title: "Bathroom Tiling Bray",
    bg: "bathroom3",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 7,
    title: "Kozzy Bathroom Tiling",
    bg: "bathroom4",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 8,
    title: "Shower Tiling Dundrum, Dublin",
    bg: "shower",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 9,
    title: "Bathroom Renovation Dublin",
    bg: "bathroom5",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 10,
    title: "Contemporary Style Bathroom Tiling Dublin",
    bg: "bathroom6",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 11,
    title: "Bathroom Tiling Cabinteely Dublin",
    bg: "bathroom7",
    link: "/projects/kozzy-bathroom-tiling",
  },
  {
    id: 12,
    title: "Kitchen Tiling Dublin",
    bg: "kitchen",
    link: "/projects/kozzy-bathroom-tiling",
  },
];
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <h1 class='text-center text-3xl md:text-5xl font-bold pb-10'>
        Our Resent Projects
      </h1>
      <ul
        class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4 gap-y-8'
      >
        {
          projects.map((p) => (
            <li class="">
              <a href={p.link}>
                <div
                  class={`${p.bg} h-[250px] md:h-[400px] hover:scale-105 transition-transform flex flex-col items-end justify-end p-4`}
                >
                  <p class='bg-[#B86300] px-4 py-2 text-black font-bold rounded text-center'>
                    {p.title}
                  </p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <Quote />
    </div>
  </main>
</Layout>
<style>
  .bathroom {
    background: url("../../images/services/bathroom.webp") no-repeat
      center/cover;
  }
  .bathroom1 {
    background: url("../../images/projects/bathroom1.webp") no-repeat
      center/cover;
  }
  .bathroom2 {
    background: url("../../images/projects/bathroom2.webp") no-repeat
      center/cover;
  }
  .bathroom3 {
    background: url("../../images/projects/bathroom3.webp") no-repeat
      center/cover;
  }
  .bathroom4 {
    background: url("../../images/projects/bathroom4.webp") no-repeat
      center/cover;
  }
  .bathroom5 {
    background: url("../../images/projects/bathroom5.webp") no-repeat
      center/cover;
  }
  .bathroom6 {
    background: url("../../images/projects/bathroom6.webp") no-repeat
      center/cover;
  }
  .bathroom7 {
    background: url("../../images/projects/bathroom7.webp") no-repeat
      center/cover;
  }
  .kitchen {
    background: url("../../images/services/kitchen.webp") no-repeat center/cover;
  }
  .office {
    background: url("../../images/services/office.webp") no-repeat center/cover;
  }
  .outdoor {
    background: url("../../images/services/outdoor.webp") no-repeat center/cover;
  }
  .mastic {
    background: url("../../images/services/mastic.webp") no-repeat center/cover;
  }
  .floor {
    background: url("../../images/services/floor.webp") no-repeat center/cover;
  }
  .shower {
    background: url("../../images/services/shower.webp") no-repeat center/cover;
  }
</style>
