---
---

<section class='bg-[#363333] text-white'>
  <div class='prime'>
    <div class='mx-auto max-w-[1400px] px-[8px] md:px-[60px] py-4'>
      <h1>Hello</h1>
    </div>
  </div>
</section>
<style>
  .prime {
    height: 80vh;

    background: url(https://res.cloudinary.com/zielona-g-ra/image/upload/v1686745593/tiling/rzc9qxpojnhafyp8brnp.webp)
      no-repeat right/cover;
  }
</style>
