---
---

<section class='bg-[#363333] text-white'>
  <div class='prime'>
    <div
      class='mx-auto max-w-[1400px] px-[8px] md:px-[60px] py-4 flex flex-col justify-center items-center'
    >
      <h1 class='text-center text-3xl md:text-6xl font-semibold py-5 md:py-10'>
        Dublin Tiling Service
      </h1>
      <div
        class='text-center mt-5 py-2 px-4 bg-black opacity-70 rounded-lg text-2xl w-2/3 font-semibold'
      >
        Quality-focused tiling solutions for domestic and commercial customers
        in Dublin and the County
      </div>
      <div
        class='text-center mt-20 py-2 px-4 bg-black opacity-70 rounded-lg text-xl w-1/6'
      >
        CALL US
      </div>
    </div>
  </div>
</section>
<style>
  .prime {
    height: 80vh;

    background: url(https://res.cloudinary.com/zielona-g-ra/image/upload/v1686745593/tiling/rzc9qxpojnhafyp8brnp.webp)
      no-repeat right/cover;
  }
</style>
