---
import call from "../../images/top/call.svg";
import messenger from "../../images/top/messenger.png";
import telegram from "../../images/top/telegram.png";
import whatsapp from "../../images/top/whatsapp.png";
---

<section class='bg-[#363333] text-white'>
  <div class='prime'>
    <div
      class='mx-auto max-w-[1400px] px-[8px] md:px-[60px] py-4 xl:py-8 flex flex-col justify-between items-center h-full'
    >
      <div>
        <h1
          style={{ textShadow: "1px  1px  #494847" }}
          class='text-center text-3xl md:text-5xl xl:text-6xl py-5 md:py-10 text-[#e97f05] font-bold'
        >
          Dublin Tiling Service
        </h1>
        <div
         
          class='text-center py-2 px-4 bg-stone-700 opacity-80 rounded-lg md:text-base xl:text-xl xl:w-5/6 mx-auto font-thin'
        >
          We specialize in delivering tiling solutions of the highest quality
          for both domestic and commercial customers in Dublin and the
          surrounding County.
        </div>
      </div>

      <div class='text-center rounded-lg text-sm'>
        <div>CALL US</div>
        <div class='md:mt-1'>
          <a href='tel:+4733378901'>
            <div
              class='flex justify-center gap-x-3 md:bg-stone-700 md:opacity-80 md:py-3 px-8 rounded-lg'
            >
              <img
                src={call}
                width={42}
                height={42}
                alt='phone number'
                class='transition-transform duration-300 hover:scale-125'
              />
              <div
                style={{ textShadow: "1px  1px  #6C6B69" }}
                class='text-3xl hover:underline'
              >
                083 173 71XX
              </div>
            </div>
          </a>
        </div>
      </div>
      <div>
        <a href='/' class='hover:underline'>
          <div
            class='px-12 py-4 bg-[#e97f05] rounded md:text-2xl text-center text-white'
            style={{ textShadow: "0.5px  0.5px  #6C6B69" }}
          >
            GET A FREE QUOTE
          </div>
        </a>
        <div class='text-center mt-5 py-3 px-8 rounded-lg text-sm'>
          <div>OR SEND US A MESSAGE THROUGH YOUR FAVORITE APP</div>
          <div class='flex justify-center gap-x-8 mt-2 md:mt-4 opacity-100'>
            <a href='https://m.me/igor.rak.184'
              ><img
                src={messenger}
                width={60}
                height={60}
                alt='messenger link'
                class='transition-transform duration-300 md:hover:scale-125'
              /></a
            >
            <a href='tg://resolve?domain=cleanwhalewarsaw'>
              <img
                src={telegram}
                width={60}
                height={60}
                alt='telegram link'
                class='transition-transform duration-300 md:hover:scale-125'
              /></a
            >
            <a href='https://api.whatsapp.com/send?phone=48690483990'
              ><img
                src={whatsapp}
                width={60}
                height={60}
                alt='whatsapp link'
                class='transition-transform duration-300 md:hover:scale-125'
              /></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .prime {
    height: 80vh;
    /* background: url("../../images/top/front_image2.webp") no-repeat right/cover; */
    background: url("../../images/projects/bathroom2.webp") no-repeat right/cover;
  }
  @media (max-width: 768px) {
    .prime {
      height: 90vh;
    }
  }
</style>
