---
import Layout from "../../layouts/Layout.astro";
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <h1>Cookie Policy</h1>
      <p>
        At Our Company, we recognize the importance of your privacy and
        understand that you are concerned about the usage and sharing of your
        personal data online.
      </p>
      <p>
        We hold utmost respect for the privacy of all individuals who visit our
        website, www.tiling-site.netlify.app ("Our Site"). We are committed to
        collecting and utilizing personal data only as described in this
        statement, while adhering to our legal obligations and respecting your
        rights. We kindly request that you carefully read and comprehend this
        Privacy Policy.
      </p>
      <p>
        By using Our Site for the first time, you are considered to have
        accepted and agreed to the terms outlined in this Privacy Policy. If you
        do not accept or agree with this Privacy Policy, it is imperative that
        you discontinue using Our Site immediately.
      </p>
      <p>
        Within this Policy, the following terms are defined as follows:
        "Account" refers to the necessary access credentials for using specific
        areas and features of Our Site.
      </p>
      <p></p>
      "Cookie" denotes a small text file that Our Site places on your computer or
      device when you visit certain sections or utilize specific features. More information
      about the Cookies used by Our Site can be found in section 13 below. "Cookie
      Law" signifies the relevant portions of the Privacy and Electronic Communications
      (EC Directive) Regulations 2003. "personal data" encompasses any data that
      pertains to an identifiable individual who can be directly or indirectly identified
      from such information. In this context, it refers to personal data that you
      provide to Us via Our Site. This definition incorporates the definitions provided
      in the EU Regulation 2016/679, commonly known as the General Data Protection
      Regulation ("GDPR"). "We/Us/Our" pertains to Dublin Tiling LTD, a registered
      limited company in Ireland under company number XX555555. Our registered address
      is 29 Main Street, Dublin, and our primary trading address is the same as mentioned
      above.
    </div>
  </main>
</Layout>
<!-- <style is:global></style> -->
