---
import Quote from "../../components/quote/Quote.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title='Dublin Tiling Services | Bathroom Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px] text-2xl'>
      <h1 class='font-bold mt-8'>Cookie Policy</h1>
      <p>
        This Cookie Policy explains what cookies are and how we use them on our
        website, htps://tiling-site.netlify.app (the "Site").
      </p>
      <p>
        Please read this policy to understand what types of cookies we use, how
        we use them, and how you can control or disable cookies.
      </p>
      <p class='font-bold mt-8'>What are cookies?</p>
      <p>
        Cookies are small text files that are placed on your device (computer,
        smartphone, tablet) when you visit a website. They are widely used to
        make websites work more efficiently, as well as to provide information
        to the website owner.
      </p>
      <p class='font-bold mt-8'>How do we use cookies?</p>
      <p>We use cookies for various purposes on our Site, including:</p>
      <p>
        Essential Cookies: These cookies are necessary for the proper
        functioning of the Site. They enable you to navigate the website and use
        its features, such as accessing secure areas or making online purchases.
        Without these cookies, the Site may not perform as smoothly as intended.
      </p>
      <p>
        Analytical Cookies: We use analytical cookies to gather information
        about how visitors use our Site. This helps us analyze data such as the
        number of visitors, their geographic location, and the pages they view.
        The information collected is anonymous and is used to improve the
        performance and content of our Site.
      </p>
      <p>
        Advertising Cookies: We may use advertising cookies to deliver targeted
        advertisements that are relevant to your interests. These cookies
        remember your browsing habits and enable us to tailor advertising
        content to your preferences. They may be placed by us or by third-party
        advertising networks with our permission.
      </p>
      <p class='font-bold mt-8'>How can you control cookies?</p>
      <p>
        By default, most web browsers are set to accept cookies. However, you
        can control and manage cookies in various ways. Please note that
        disabling or blocking certain cookies may affect the functionality of
        the Site or limit your access to certain features.
      </p>
      <p>
        Browser Settings: You can modify your browser settings to control the
        use of cookies. Most browsers allow you to block or delete cookies, as
        well as to configure cookie preferences for individual websites. Consult
        your browser's Help menu or documentation for more information on how to
        manage cookies.
      </p>
      <p>
        Third-Party Opt-Out: Some third-party advertising networks provide tools
        that allow you to opt-out of their targeted advertising cookies. Visit
        the websites of these networks for more information on how to opt-out.
      </p>
      <p>
        For further information about cookies and how to manage them, visit
        www.allaboutcookies.org or refer to the Help menu of your browser.
      </p>
      <p class='font-bold mt-8'>Changes to this Cookie Policy</p>
      <p>
        We may update this Cookie Policy from time to time to reflect changes in
        technology or applicable regulations. Any updates will be posted on this
        page, and the "Last updated" date at the top will indicate the effective
        date of the most recent changes.
      </p>
      <p class='font-bold mt-8'>Contact Us</p>
      <p>
        If you have any questions or concerns about this Cookie Policy, please
        contact us at [contact email].
      </p>
    </div>
    <Quote />
  </main>
</Layout>
<!-- <style is:global></style> -->
