---
---

<footer class='bg-[#363333] text-white border-t-2'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <menu
      class='flex flex-col md:flex-row justify-center gap-4 md:gap-6 uppercase'
      itemscope
      itemtype='http://schema.org/SiteNavigationElement'
    >
      <li itemprop='name'>
        <a href='/about' itemprop='url' class='hover:underline'>About</a>
      </li>
      <li itemprop='name'>
        <a href='/testimonials' itemprop='url' class='hover:underline'
          >Testimonials</a
        >
      </li>
      <li itemprop='name'>
        <a href='/privacy-policy' itemprop='url' class='hover:underline'
          >Privacy Policy</a
        >
      </li>
      <li itemprop='name'>
        <a href='/cookie-policy' itemprop='url' class='hover:underline'
          >Cookie Policy</a
        >
      </li>
      <li itemprop='name'>
        <a href='/contact' itemprop='url' class='hover:underline'>Contact</a>
      </li>
    </menu>

    <menu
      class='flex flex-col md:flex-row justify-center gap-4 md:gap-6 lowercase pt-5'
      itemscope
      itemtype='http://schema.org/SiteNavigationElement'
    >
      <li itemprop='name'>
        <a itemprop='url' href='https://tiling-site.netlify.app/bathroom-tiling/' class='hover:underline'>
          Bathroom tiling</a
        >
      </li>
      <li itemprop='name'>
        <a itemprop='url' href='https://tiling-site.netlify.app/kitchen-tiling/' class='hover:underline'
          >Kitchen tiling</a
        >
      </li>
      <li itemprop='name'>
        <a itemprop='url' href='https://tiling-site.netlify.app/outdoor-tiling/' class='hover:underline'
          >Outdoor tiling</a
        >
      </li>
      <li itemprop='name'>
        <a itemprop='url' href='https://tiling-site.netlify.app/commercial-tiling/' class='hover:underline'>
          Commercial tiling</a
        >
      </li>
      <li itemprop='name'>
        <a itemprop='url' href='https://tiling-site.netlify.app/floor-tiling/' class='hover:underline'
          >Floor tiling</a
        >
      </li>
      <li itemprop='name'>
        <a itemprop='url' href='https://tiling-site.netlify.app/shower-tiling/' class='hover:underline'
          >Shower tiling</a
        >
      </li>
    </menu>
  </div>
  <div class='font-mono mt-4 md:text-center'>© 2023 All right reserved.</div>
</footer>
