---
---

<footer class='bg-[#363333] text-white border-t-2'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <nav>
      <menu
        class='flex flex-col md:flex-row justify-center gap-4 md:gap-6 uppercase'
      >
        <li><a href='#' class='hover:underline'>About</a></li>
        <li><a href='#' class='hover:underline'>Testimonials</a></li>
        <li><a href='#' class='hover:underline'>Privacy Policy</a></li>
        <li><a href='#' class='hover:underline'>Cookie Policy</a></li>
        <li><a href='#' class='hover:underline'>Contact</a></li>
      </menu>
    </nav>
    <nav>
      <menu
        class='flex flex-col md:flex-row justify-center gap-4 md:gap-6 lowercase pt-5'
      >
        <li>
          <a href='/service1' class='hover:underline'> Bathroom tiling</a>
        </li>
        <li>
          <a href='/service2' class='hover:underline'> Kitchen tiling</a>
        </li>
        <li>
          <a href='/service3' class='hover:underline'> Outdoor tiling</a>
        </li>
        <li>
          <a href='/service4' class='hover:underline'> Commercial tiling</a>
        </li>
        <li>
          <a href='/service5' class='hover:underline'> Floor tiling</a>
        </li>
        <li>
          <a href='/service6' class='hover:underline'> Mastic Services</a>
        </li>
      </menu>
    </nav>
  </div>
  <div class='font-mono mt-4 md:text-center'>© 2023 All right reserved.</div>
</footer>
