---
---

<footer class='bg-[#363333] text-white border-t-2'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <nav>
      <menu
        class='flex flex-col md:flex-row justify-center gap-4 md:gap-6 uppercase'
      >
        <li><a href='/' class='hover:underline'>About</a></li>
        <li><a href='/' class='hover:underline'>Testimonials</a></li>
        <li><a href='/' class='hover:underline'>Privacy Policy</a></li>
        <li><a href='/' class='hover:underline'>Cookie Policy</a></li>
        <li><a href='/' class='hover:underline'>Contact</a></li>
      </menu>
    </nav>
    <nav itemscope itemtype='http://schema.org/SiteNavigationElement'>
      <menu
        class='flex flex-col md:flex-row justify-center gap-4 md:gap-6 lowercase pt-5'
        itemprop='hasMenu'
        itemscope
        itemtype='http://schema.org/Menu'
      >
        <li itemprop='name'>
          <a itemprop='url' href='/' class='hover:underline'>
            Bathroom tiling</a
          >
        </li>
        <li itemprop='name'>
          <a itemprop='url' href='/' class='hover:underline'> Kitchen tiling</a>
        </li>
        <li itemprop='name'>
          <a itemprop='url' href='/' class='hover:underline'> Outdoor tiling</a>
        </li>
        <li itemprop='name'>
          <a itemprop='url' href='/' class='hover:underline'>
            Commercial tiling</a
          >
        </li>
        <li itemprop='name'>
          <a itemprop='url' href='/' class='hover:underline'> Floor tiling</a>
        </li>
        <li itemprop='name'>
          <a itemprop='url' href='/' class='hover:underline'>
            Mastic Services</a
          >
        </li>
      </menu>
    </nav>
  </div>
  <div class='font-mono mt-4 md:text-center'>© 2023 All right reserved.</div>
</footer>
