---
---

<footer class='bg-[#363333] text-white border-t-2'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <nav>
      <ul
        class='flex flex-col md:flex-row justify-center gap-4 md:gap-6 uppercase'
      >
        <li><a href='#' class='hover:underline'>About</a></li>
        <li><a href='#' class='hover:underline'>Testimonials</a></li>
        <li><a href='#' class='hover:underline'>Privacy Policy</a></li>
        <li><a href='#' class='hover:underline'>Cookie Policy</a></li>
        <li><a href='#' class='hover:underline'>Contact</a></li>
      </ul>
    </nav>
    <div class='font-mono mt-4 md:text-center'>© 2023 All right reserved.</div>
  </div>
</footer>
