---
import star from "../../images/star/star.png";
interface Props {
  ratingValue: number;
}

const { ratingValue } = Astro.props;
const starsArray = Array.from({ length: ratingValue }, (v, i) => i);
---

<div class='flex gap-x-1 mt-2'>
  {starsArray.map(() => <img src={star} width={24} height={24} alt='star' />)}
</div>
