---
interface IFeedback {
  id: number;
  content: string;
  stars: number;
  name: string;
  link: string;
}
import star from "../../images/star/star.png";
const feedbacks: IFeedback[] = [
  {
    id: 1,
    content:
      "This is an outstanding tiler - I can't recommend him highly enough. Not only did he provide exceptional craftsmanship, but he also offered invaluable design ideas and advice, which I truly appreciated. Tilers completed the entire kitchen tiling job in just four days from my initial call, and his rates were incredibly competitive. Dublin tiling cervice is a true professional, friendly and efficient, with a meticulous eye for detail. Master never cuts corners and delivers top-notch results. I'm already planning to hire him again for my upcoming bathroom tiling project. Thank you for your fantastic work!",
    name: "FB",
    link: "/",
    stars: 5,
  },
  {
    id: 2,
    content:
      "I recently had the pleasure of hiring DTS to renovate my bathroom and shower room. Throughout the project, company showcased his innovative problem-solving skills, easily tackling any challenges that arose. The quality of his tiling is truly exceptional, and both  and his colleague maintained a consistently clean and organized workspace. Punctuality was never an issue as they were always on time. I couldn't be happier with the results and highly recommend the firm for any bathroom renovation needs. Thank you for your outstanding job!",
    name: "Scott Marr",
    link: "/",
    stars: 5,
  },
  {
    id: 3,
    content:
      "Company has done tiling  for me over a number years. They are professional and always manages to find a solution to tricky problems which arise.  I would very much recommend DTS for any tiling or bathroom tiling",
    name: "Nikki W",
    link: "/",
    stars: 5,
  },
  {
    id: 4,
    content:
      "Had my sitting room hall and kitchen tiled excellent job I was very impressed with the tiling. Lovely job thanks again.",
    name: "David B",
    link: "/",
    stars: 5,
  },
  {
    id: 5,
    content:
      "Tilers has done tiling  for me over a number years.  The quality of TD work is always excellent.  He is professional and always manages to find a solution to tricky problems which arise.  I would very much recommend the team for any tiling or bathroom.",
    name: "John L",
    link: "/",
    stars: 5,
  },
  {
    id: 6,
    content:
      "Tilers are very good workers, clean , tidy , reliable  and pleasant to have in your home.Have had more than one job done. Always professional and finished beautifully.",
    name: "Antoni Chechow",
    link: "/",
    stars: 5,
  },
  {
    id: 7,
    content:
      "Tilers fitted two bathrooms in my new flat. Both required highly skilled installers. One bathroom is finished with large-scale porcelain tiles. The other one with patterned marble mosaic.The result is faultless. I’m delighted.DTS tilers is a pleasure to work with, too: always reliable, punctual and goes an extra mile to help.Recommend without hesitation!",
    name: "Dan Brown",
    link: "/",
    stars: 5,
  },
  {
    id: 8,
    content:
      "Dan and his team did our kitchen backsplash with mitred marble tiles and it looks perfect. He was the most knowledgeable tiler about marble and was upfront with all costs that would be involved so there would be no surprises later on. That’s why we choose his company and he provided us with peace of mind as he explained each process step by step. All in all we would definitely hire him again if we need tiling.",
    name: "Lena K",
    link: "/",
    stars: 5,
  },
];
---

<section class='bg-[#363333] text-white font-bold md:py-10'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <h2 class='text-center text-3xl md:text-5xl font-bold pb-10'>
      Client Feedack
    </h2>
    <ul
      id='your-ul-id'
      class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4 gap-y-8'
    >
      {
        feedbacks.map((feedback) => {
          const arr = Array.from({ length: feedback.stars }, (v, i) => i);
          return (
            <li class='border'>
              <div class='px-4 py-6 flex flex-col h-[100%] justify-between '>
                <div>
                  {" "}
                  <div class='font-thin'>{feedback.content}</div>
                </div>
                <div>
                  <div class='mt-2'>{feedback.name}</div>
                  <div class='flex gap-x-1 mt-2'>
                    {arr.map((item) => (
                      <img src={star} width={24} height={24} alt='star' />
                    ))}
                  </div>
                </div>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>

<script>
  window.addEventListener("load", function () {
    // Get the UL element
    var ulElement = document.getElementById("your-ul-id");

    // Get all the LI elements inside the UL
    var liElements = ulElement?.getElementsByTagName("li");

    var maxHeight = 0;

    // Iterate over the LI elements to find the highest one
    for (var i = 0; i < liElements.length; i++) {
      var liHeight = liElements[i].offsetHeight;
      if (liHeight > maxHeight) {
        maxHeight = liHeight;
      }
    }
    // Set the height of all LI elements to the highest height
    for (var i = 0; i < liElements.length; i++) {
      liElements[i].classList.add(`h-[${maxHeight}px]`);
    }
  });
</script>
