---
interface IFeedback {
  id: number;
  content: string;
  stars: number;
  name: string;
  link: string;
}
import star from "../../images/star/star.png";
const feedbacks: IFeedback[] = [
  {
    id: 1,
    content:
      "This is an outstanding tiler - I can't recommend him highly enough. Not only did he provide exceptional craftsmanship, but he also offered invaluable design ideas and advice, which I truly appreciated. He completed the entire kitchen tiling job in just four days from my initial call, and his rates were incredibly competitive. Dublin tiling cervice is a true professional, friendly and efficient, with a meticulous eye for detail. He never cuts corners and delivers top-notch results. I'm already planning to hire him again for my upcoming bathroom tiling project. Thank you, Tomas, for your fantastic work!",
    name: "FB",
    link: "/",
    stars: 5,
  },
  {
    id: 2,
    content:
      "I recently had the pleasure of hiring DTS to renovate my bathroom and shower room. Throughout the project, he showcased his innovative problem-solving skills, easily tackling any challenges that arose. The quality of his work is truly exceptional, and both  and his colleague maintained a consistently clean and organized workspace. Punctuality was never an issue as they were always on time. I couldn't be happier with the results and highly recommend Tomas for any bathroom renovation needs. Thank you for your outstanding work!",
    name: "Scott Marr",
    link: "/",
    stars: 5,
  },
  {
    id: 3,
    content:
      "Company has done tiling work for me over a number years. He is professional and always manages to find a solution to tricky problems which arise.  I would very much recommend Tomas for any tiling or bathroom work",
    name: "Nikki W",
    link: "/",
    stars: 5,
  },
  {
    id: 4,
    content:
      "Had my sitting room hall and kitchen tiled excellent job I was very impressed with the work . Lovely job thanks again .",
    name: "Faisal B",
    link: "/",
    stars: 5,
  },
  // {
  //   id: 5,
  //   content:
  //     "Excellent tiler - highly recommended. I received good design ideas and advice from Tomas too - that was appreciated in particular. All fitted and done within 4 days of my first call! Really competitive rates for my kitchen spalshback tiling job. Professional, friendly, quick, great attention to detail. No corners cut. I’ll be using Tomas again for my bathroom tiling work soon! Thanks!",
  //   name: "Faisal B",
  //   link: "/",
  //   stars: 5,
  // },
  // {
  //   id: 6,
  //   content:
  //     "Excellent tiler - highly recommended. I received good design ideas and advice from Tomas too - that was appreciated in particular. All fitted and done within 4 days of my first call! Really competitive rates for my kitchen spalshback tiling job. Professional, friendly, quick, great attention to detail. No corners cut. I’ll be using Tomas again for my bathroom tiling work soon! Thanks!",
  //   name: "Faisal B",
  //   link: "/",
  //   stars: 5,
  // },
  // {
  //   id: 7,
  //   content:
  //     "Excellent tiler - highly recommended. I received good design ideas and advice from Tomas too - that was appreciated in particular. All fitted and done within 4 days of my first call! Really competitive rates for my kitchen spalshback tiling job. Professional, friendly, quick, great attention to detail. No corners cut. I’ll be using Tomas again for my bathroom tiling work soon! Thanks!",
  //   name: "Faisal B",
  //   link: "/",
  //   stars: 5,
  // },
  // {
  //   id: 8,
  //   content:
  //     "Excellent tiler - highly recommended. I received good design ideas and advice from Tomas too - that was appreciated in particular. All fitted and done within 4 days of my first call! Really competitive rates for my kitchen spalshback tiling job. Professional, friendly, quick, great attention to detail. No corners cut. I’ll be using Tomas again for my bathroom tiling work soon! Thanks!",
  //   name: "Faisal B",
  //   link: "/",
  //   stars: 5,
  // },
];
---

<section class='bg-[#363333] text-white font-bold md:py-10'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <h2 class='text-center text-3xl md:text-5xl font-bold pb-10'>
      Client Feedack
    </h2>
    <ul
      class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4 gap-y-8'
    >
      {
        feedbacks.map((feedback) => {
          const arr = Array.from({ length: feedback.stars }, (v, i) => i);
          return (
            <li class=''>
              <div class='border px-4 py-6'>
                <div class='font-thin'>{feedback.content}</div>
                <div class='mt-2'>{feedback.name}</div>
                <div class='flex gap-x-1 mt-2'>
                  {arr.map((item) => (
                    <img src={star} width={24} height={24} alt='star' />
                  ))}
                </div>
                <div class='mt-2'>
                  <a href={feedback.link} />
                </div>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
