---
import { Schema } from "astro-seo-schema";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Experience superior tiling services catering to the needs of both domestic and commercial clients in Dublin and the surrounding areas. Contact us now to receive a personalized quotation without compromising on quality.'
    />
    <meta
      content='Dublin Tiling Services | Dublin Tiling'
      property='og:title'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='robots' content='all' />
    <link rel='canonical' href='https://tiling-site.netlify.app/index.html' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta property='og:locale' content='en-IE' />
    <meta property='og:type' content='website' />
    <meta
      property='og:url'
      content='https://tiling-site.netlify.app/index.html'
    />
    <meta property='og:site_name' content='tiling services' />
    <meta
      property='og:description'
      content='tiling, bathroom tiling, kitchen tiling | tilers,tiling  | Dublin Tiling Services'
    />
    <meta
      name='twitter:title'
      content='Dublin Tiling Services| Dublin Tiling Services'
    />
    <meta
      name='twitter:description'
      content='Experience superior tiling services catering to the needs of both domestic and commercial clients in Dublin and the surrounding areas.'
    />
    <Schema
      item={{
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "WebSite",
            name: "Dublin Tiling Services",
            url: "https://tiling-site.netlify.app",
          },
          {
            "@type": "WebPage",
            name: "Dublin Tiling Services",
            url: "https://tiling-site.netlify.app",
          },
          {
            "@type": "Organization",
            name: "Dublin Tiling Services",
            url: "https://tiling-site.netlify.app",
            sameAs: [
              "http://www.facebook.com/dublin_tiling_cervices",
              "http://www.instagram.com/dublin_tiling_cervices",
            ],
          },
        ],
      }}
    />
  </head><body>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      html {
        font-family: Trebuchet MS, system-ui, sans-serif;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 230px;
        padding: 12px 16px;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .stroked-text {
        color: #000; /* Set the text color */
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
          1px 1px 0 #fff;
      }
      /* CSS file (e.g., Slider.css) */
      .slider-button {
        width: 58px;
        height: 58px;
        background-color: transparent;
        border: none;
      }

      .left-button {
        background: url("../images/slider/arrows/left-hover.svg") no-repeat
          center/cover;
        cursor: pointer;
      }
      .left-button:hover {
        background: url("../images/slider/arrows/left.svg") no-repeat
          center/cover;
      }

      .left-disabled {
        background: url("../images/slider/arrows/left-disabled.svg") no-repeat
          center/cover;
      }

      .right-button {
        background: url("../images/slider/arrows/right-hover.svg") no-repeat
          center/cover;
        cursor: pointer;
      }
      .right-button:hover {
        background: url("../images/slider/arrows/right.svg") no-repeat
          center/cover;
      }
      .right-disabled {
        background: url("../images/slider/arrows/right-disabled.svg") no-repeat
          center/cover;
      }

      .slider {
        display: flex;
        justify-content: center;
        gap: 10px;
      }

      .slide {
        height: 600px;
        flex: 1;
        flex-grow: 1;
        border-radius: 10px;
        filter: grayscale(1);
        cursor: pointer;
        border-radius: 10px;
        transition: 0.3s;
      }
      .slide.active {
        flex-grow: 5;
        filter: none;
        box-shadow: 2px 4px 8px rgba(0 0, 0, 80%);
      }
      @media screen and (max-width: 768px) {
        .slide.active {
          flex-grow: 150;
        }
        .slider {
          gap: 2px;
        }
      }

      .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
      }
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .title {
        animation: fadeIn 0.7s ease-in-out;
      }
    </style>
  </body>
</html>
