---
import Layout from "../../layouts/Layout.astro";
import kitchen1 from "../../images/kitchen/kitchen1.webp";
import kitchen2 from "../../images/kitchen/kitchen2.webp";
import kitchen3 from "../../images/kitchen/kitchen3.webp";
import Quote from "../../components/quote/Quote.astro";
---

<Layout title='Dublin Tiling Services | Kitchen Tiling'>
  <main class='bg-[#363333] text-white'>
    <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
      <div class='container mx-auto md:p-8'>
        <h1
          class='text-4xl md:text-6xl font-bold mb-4 text-center text-[#B86300]'
        >
          Kitchen Tiling Dublin
        </h1>
        <h2 class='text-2xl font-bold mb-4 text-center'>
          Floor and Wall Tiling, Backsplash Installation in Kitchen with Dublin
          Tiling Service
        </h2>

        <div class='flex flex-col md:flex-row gap-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={kitchen1}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Professional Kitchen Tiling Services in Dublin: Experience, Expertise, and Excellence
            </h3>
          
            <p class='text-lg mb-8'>
              If you are interested in requesting <strong class='text-[#B86300]'
              >bkitchen tiling
            </strong> services in Dublin, reach out to the team at Dublin Tiling Service.
            </p>
            
            <p class='text-lg mb-8'>
              With our extensive expertise, specialized staff, technological know-how, and access to equipment, they are well-equipped to handle various construction projects with a professional touch. 
            </p>

            <p class='text-lg mb-8'>
              Our commitment to excellence enables them to deliver high-quality work and create mutually advantageous proposals. No matter how challenging the tasks may be, they will commence the implementation process, taking all the necessary steps to ensure that the outcome of the renovation aligns with your expectations in every aspect.
            </p>
           
          </div>
        </div>

        <div class='flex flex-col-reverse md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Kitchen Tile Backsplash Instalation
            </h3>
            <p class='text-lg mb-8'>
              Transform your kitchen into a stylish and functional space with a professionally installed tile backsplash. Adding a tile backsplash not only enhances the aesthetic appeal of your kitchen but also provides practical benefits. The tile's smooth surface is easy to clean, making it perfect for protecting your walls from splatters and spills.
            </p>
            <p class='text-lg mb-8'>
              With a wide variety of tile options available, you can personalize your kitchen and create a unique design that complements your style. From sleek and modern subway tiles to intricate mosaic patterns, the possibilities are endless. The skilled installation team will ensure precise placement and a seamless finish, guaranteeing a long-lasting and visually striking result.
            </p>
            <p class='text-lg mb-8'>
              Don't miss out on the opportunity to upgrade your kitchen with a beautiful tile backsplash. Contact us today to schedule a consultation and take the first step towards a stunning kitchen transformation.
            </p>
          </div>
          <div class='basis-1/2'>
            <img
              src={kitchen2}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
        </div>

        <div class='flex flex-col md:flex-row gap-x-8 mt-16'>
          <div class='basis-1/2'>
            <img
              src={kitchen3}
              width={600}
              height={600}
              alt='example of tiling bathroom'
            />
          </div>
          <div class='basis-1/2'>
            <h3 class='text-[#B86300] text-2xl font-bold mb-8'>
              Advantages of Durable and Easy-to-Maintain Tile Coatings: Resistant to Temperature, Moisture, and Scratches
            </h3>
            <p class='text-lg mb-8'>  
              With an easy-to-clean, aesthetically pleasing, and wear-resistant tile coating, you can enjoy the benefits of a surface that remains unaffected by temperature extremes, moisture, and scratches. The wide range of colors available, along with the ability to replicate the textures of natural materials like wood, marble, metal, and stone, provides a multitude of design possibilities. By applying various patterns to the tile surface, you can explore a wide array of architectural and design options.
            </p>
            <p class='text-lg mb-8'>
              Currently, several fashionable trends have emerged, including the imitation of natural marble and stone coatings, oriental patterns, and patchwork designs. Each trend offers its own unique appeal. However, regardless of the type of tile coating you choose, the most crucial step is to find a reliable contractor to handle the tile installation. After all, no matter how beautiful the coating may be, without professional and high-quality installation, it will quickly lose its charm and lead to various issues.
            </p>
          
          </div>
        </div>
        <Quote />
      </div>
    </div>
  </main>
  <!-- <style is:global></style> -->
</Layout>
